.body {
  background-color: #e6e6e6;
}

#mainNav {
  background-color: #2C3E50;
  margin-bottom: 50px;
}

.navbar-custom .navbar-nav li a {
  color: white;
}

.navbar-custom .navbar-nav li a:hover {
  color: #18BC9C;
}

#title {
  color: white;
}

#body-container {
  padding-top: 80px;
}

h4 {
  text-align: center;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
